<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page Not Found</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static',filename='assets/icon/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static',filename='assets/icon/favicon.ico') }}" type="image/x-icon">
    <!-- MaterializeCSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/materializecss.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/materializecss-icons.css')}}">
</head>
<body>
    <header>
           
    </header>
    <main>
      <div class="row">
        <h4 class="center"><i class="material-icons large red-text">warning</i></h4>
        <h4 class="red-text center">Page Not Found!</h4>
        <p class="flow-text center">The Page you requested could not found!<br><a href="/admin" class="waves-effect waves-light btn">Return to Homepage</a></p>
        
      </div>
    </main>
    <footer class="page-footer green">
      {% include 'footer.html'%}
    </footer>
    <!-- MaterializeCSS -->
    <script src="{{ url_for('static',filename='assets/js/materialize-css.min.js')}}"></script>
    <script>
    // SideNav
    // EndSideNav
    M.AutoInit();
    </script>
</body>
</html>