<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Dashboard</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static',filename='assets/icon/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static',filename='assets/icon/favicon.ico') }}" type="image/x-icon">
    <!-- MaterializeCSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/materializecss.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/materializecss-icons.css')}}">
    <!-- ChartJS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/Chart.min.css')}}">
    <style>
      header, main, footer {
        padding-left: 300px;
      }

      @media only screen and (max-width : 1024px) {
        header, main, footer {
          padding-left: 0;
        }
      }
    </style>
</head>
<body>
    <header>
        <div class="navbar-fixed">
            <nav>
            <div class="nav-wrapper white">
                <a href="#!" class="brand-logo center green-text"><img src="{{ url_for('static',filename='assets/img/gcclogo.png') }}" alt="" style="height: 66px; width: 66px;" class="cirlcle responsive"></a>
                <a href="#" data-target="slide-out" class="sidenav-trigger green-text"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="left hide-on-med-and-down green-text">
                    <li><a href="#" id="menu" class="green-text"><i class="material-icons green-text">menu</i></a></li>
                </ul>
            </div>
            </nav>
        </div>
        <ul id="slide-out" class="sidenav sidenav-fixed green darken-2">
            <li>
            <div class="user-view">
                <div class="background">
                <img src="{{url_for('static',filename='assets/img/bg.jpg')}}" alt="" style="width:100%;">
                </div>
                <a href="#user"><img class="circle" src="{{ url_for('static',filename='assets/img/gcclogo.png')}}"></a>
                <a href="#name"><span class="white-text name"></span></a>
                <a href="#email"><span class="white-text email">{{session['userEmail']}}</span></a>
            </div>
            </li>
            <!-- <ul class="collapsible">
            <li>
                <div class="collapsible-header">Home<i class="material-icons left">home</i></div>
                <div class="collapsible-body"><span>jalsjfklsklfas;lfj</span></div>
            </li>
            </ul> -->
            <li class="active"><a href="/admin" class="white-text">Home <i class="material-icons right white-text">home</i></a></li>
            <li><a href="/admin_users" class="white-text">User Accounts <i class="material-icons right white-text">supervisor_account</i></a></li>
            <li><a href="/admin_staff" class="white-text">Staff <i class="material-icons right white-text">assignment_ind</i></a></li>
            <li><a href="/admin_dept" class="white-text">Department <i class="material-icons right white-text">business</i></a></li>
            <li><a href="/admin_sett" class="white-text">Settings <i class="material-icons right white-text">settings</i></a></li>
            <li><a href="/logout" class="white-text">Logout<i class="material-icons right white-text">logout</i></a></li>
        </ul>
        
    </header>
    <main>
      <div class="row">
        <div class="col s4">
          <canvas id="chartData" width="100" height="100"></canvas>
        </div>
        <div class="col s4">
          <canvas id="chartData2" width="100" height="100"></canvas>
        </div>
      </div>
    </main>
    <footer>

    </footer>
    <!-- MaterializeCSS -->
    <script src="{{ url_for('static',filename='assets/js/materialize-css.min.js')}}"></script>
    <!-- ChartJS -->
    <script src="{{ url_for('static',filename='assets/js/Chart.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/js/axios.min.js')}}"></script>
    <script>
      // SideNav
    let slout = document.querySelector("#slide-out");
    let men = document.querySelector("#menu");
    men.addEventListener('click',()=>{
      if(slout.M_Sidenav.isOpen == false){
        slout.M_Sidenav.open(); 
        document.getElementsByTagName('footer')[0].style.paddingLeft = "300px";
        document.getElementsByTagName('main')[0].style.paddingLeft = "300px";
        document.getElementsByTagName('header')[0].style.paddingLeft = "300px";
      }else if(slout.M_Sidenav.isOpen == true){
        slout.M_Sidenav.close();
        console.log(slout.M_Sidenav.isDragged)
        document.getElementsByTagName('footer')[0].style.paddingLeft = 0;
        document.getElementsByTagName('main')[0].style.paddingLeft = 0;
        document.getElementsByTagName('header')[0].style.paddingLeft = 0;
      }
    })
    // EndSideNav
    M.AutoInit();
    
    // ChartJS //
    var ctx = document.querySelector('#chartData').getContext('2d');
    var ctx2 = document.querySelector('#chartData2').getContext('2d');
    var config = {
      type: 'bar',
      data: {
          labels: ['BSIT','BSBA','BSOA','BSCRIM'],
          datasets: [{
              label: "Staff",
              data: [10,20,30,40],
              backgroundColor: '#1976d2',
              borderColor: '#1976d2'
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      }
    };
    var myChart = new Chart(ctx,config);
    var myChart2 = new Chart(ctx2,config);
    myChart.update({
      duration: 800,
      easing: 'easeOutBounce'
    });
    // EndCharJS //
    // let status = '{{status}}';
    // if(status!=''){
    //   M.toast({html: status})
    // }
    </script>
</body>
</html>