<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Dashboard</title>
    <!-- MaterializeCSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/materializecss.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/materializecss-icons.css')}}">
    <!-- ChartJS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/Chart.min.css')}}">
    <style>
      header, main, footer {
        padding-left: 300px;
      }

      @media only screen and (max-width : 1024px) {
        header, main, footer {
          padding-left: 0;
        }
      }
    </style>
</head>
<body>
    <header>
        <div class="navbar-fixed">
            <nav>
            <div class="nav-wrapper white">
                <a href="#!" class="brand-logo center green-text"><img src="{{ url_for('static',filename='assets/img/gcclogo.png') }}" alt="" style="height: 66px; width: 66px;" class="cirlcle responsive"></a>
                <a href="#" data-target="slide-out" class="sidenav-trigger green-text"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="left hide-on-med-and-down green-text">
                    <li><a href="#" id="menu" class="green-text"><i class="material-icons green-text">menu</i></a></li>
                </ul>
            </div>
            </nav>
        </div>
        <ul id="slide-out" class="sidenav sidenav-fixed green darken-2">
            <li>
            <div class="user-view">
                <div class="background">
                <img src="{{url_for('static',filename='assets/img/bg.jpg')}}" alt="" style="width:100%;">
                </div>
                <a href="#user"><img class="circle" src="{{ url_for('static',filename='assets/img/gcclogo.png')}}"></a>
                <a href="#name"><span class="white-text name">Admin</span></a>
                <a href="#email"><span class="white-text email">admin@gcc.com</span></a>
            </div>
            </li>
            <!-- <ul class="collapsible">
            <li>
                <div class="collapsible-header">Home<i class="material-icons left">home</i></div>
                <div class="collapsible-body"><span>jalsjfklsklfas;lfj</span></div>
            </li>
            </ul> -->
            <li class="active"><a href="/admin" class="white-text">Home <i class="material-icons right white-text">home</i></a></li>
            <li><a href="/admin_users" class="white-text">User Accounts <i class="material-icons right white-text">supervisor_account</i></a></li>
            <li><a href="/admin_staff" class="white-text">Staff <i class="material-icons right white-text">assignment_ind</i></a></li>
            <li><a href="/admin_dept" class="white-text">Department <i class="material-icons right white-text">business</i></a></li>
            <li><a href="/admin_win" class="white-text">Windows <i class="material-icons right white-text">developer_board</i></a></li>
            <li><a href="/admin_purp" class="white-text">Purposes <i class="material-icons right white-text">speaker_notes</i></a></li>
            <li><a href="/admin_sett" class="white-text">Settings <i class="material-icons right white-text">settings</i></a></li>
            <li><a href="/logout" class="white-text">Logout<i class="material-icons right white-text">logout</i></a></li>
        </ul>
        
    </header>
    <main>
        
    </main>
    <footer>

    </footer>
    <!-- MaterializeCSS -->
    <script src="{{ url_for('static',filename='assets/js/materialize-css.min.js')}}"></script>
    <!-- ChartJS -->
    <script src="{{ url_for('static',filename='assets/js/Chart.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/js/axios.min.js')}}"></script>
    <script>
      // SideNav
    let slout = document.querySelector("#slide-out");
    let men = document.querySelector("#menu");
    men.addEventListener('click',()=>{
      if(slout.M_Sidenav.isOpen == false){
        slout.M_Sidenav.open(); 
        document.getElementsByTagName('footer')[0].style.paddingLeft = "300px";
        document.getElementsByTagName('main')[0].style.paddingLeft = "300px";
        document.getElementsByTagName('header')[0].style.paddingLeft = "300px";
      }else if(slout.M_Sidenav.isOpen == true){
        slout.M_Sidenav.close();
        console.log(slout.M_Sidenav.isDragged)
        document.getElementsByTagName('footer')[0].style.paddingLeft = 0;
        document.getElementsByTagName('main')[0].style.paddingLeft = 0;
        document.getElementsByTagName('header')[0].style.paddingLeft = 0;
      }
    })
    // EndSideNav
    M.AutoInit();
    var datas = document.querySelector("#datas").value;
    var obj = JSON.parse(datas);
    var labelz = [];
    var totalz = [];
    for(var i = 0;i<obj.length;i++){
      labelz.push(obj[i].qMonth);
      totalz.push(obj[i].qTotal);
    }

    var ctx = document.querySelector('#myChart').getContext('2d');
    var myChart1 = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: labelz,
          datasets: [{
              label: "Monthly Reports",
              data: totalz,
              backgroundColor: '#00796b',
              borderColor: '#00796b'
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      }
    });
    let mon = document.querySelector("#yMonth");
    let yr  = document.querySelector("#yYear");
    mon.addEventListener('change',check);
    yr.addEventListener('change',check);
    check();
    function check(){
      axios.post('/chartData',{
        qMonth: mon.options[mon.selectedIndex].value,
        qYear: parseInt(yr.options[yr.selectedIndex].value)
      }).then((response)=>{
        // console.log(response);
        let obj = response.data;
        var labelz = [];
        var totalz = [];
        for(var i = 0;i<obj.length;i++){
          labelz.push("Window "+obj[i].win_no);
          totalz.push(obj[i].qTotal);
        }
        var ctx = document.querySelector('#chartData').getContext('2d');
        var config = {
          type: 'bar',
          data: {
              labels: labelz,
              datasets: [{
                  label: "Month of "+mon.options[mon.selectedIndex].value,
                  data: totalz,
                  backgroundColor: '#1976d2',
                  borderColor: '#1976d2'
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
        };
        var myChart2 = new Chart(ctx,config);
        myChart2.update({
          duration: 800,
          easing: 'easeOutBounce'
        });
      }).catch((error)=>{
        console.log(error);
      });
    }
    // let status = '{{status}}';
    // if(status!=''){
    //   M.toast({html: status})
    // }
    </script>
</body>
</html>