<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Staff</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static',filename='assets/icon/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static',filename='assets/icon/favicon.ico') }}" type="image/x-icon">
    <!-- MaterializeCSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/materializecss.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/materializecss-icons.css')}}">
    <!-- jQueryMaterializeCSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/jq-data-material.css')}}">
    
    <style>
      header, main, footer {
        padding-left: 300px;
      }

      @media only screen and (max-width : 1024px) {
        header, main, footer {
          padding-left: 0;
        }
      }
      /* Modal */
      .modal {
    background-color: #fff;
    &.modal-fixed-header {
        padding: 0;
        height: 70%;
        .modal-header {
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            position: absolute;
            top: 0;
        }
        .modal-header {
            border-radius: 0 0 2px 2px;
            background-color: #fafafa;
            padding: 4px 6px;
            height: 56px;
            width: 100%;
        }
        .modal-content {
            position: absolute;
            top:56px;
            height: calc(100% - 56px);
            max-height: 100%;
            width: 100%;
            overflow-y: auto;
        }
    }
}
    </style>
</head>
<body>
    <header>
        {% include "menu.html" %}        
    </header>
    <main>
   
    <div class="row">
        <div id="man" class="col s12">
            <div class="card material-table">
                <div class="table-header">
                <span class="table-title">Staff</span>
                <div class="actions">
                  <a href="#importModal" class="waves-effect waves-light btn-flat nopadding modal-trigger">Import<i class="material-icons left">import_export</i></a>
                  <a class="waves-effect waves-effect btn-flat modal-trigger nopadding" href="#mdelete"><i class="material-icons">delete</i></a>
                  <a href="/admin/addStaff" class="waves-effect btn-flat nopadding"><i class="material-icons">person_add</i></a>
                  <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
                </div>
                </div>
                <table id="datatable" class="responsive-table">
                    <thead>
                        <tr>
                            <th>
                                <label>
                                <input type="checkbox" id="mChBx" />
                                <span>Select All</span>
                                </label>
                            </th>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Middle Name</th>
                            <th>Address</th>
                            <th>Birthdate</th>
                            <th>Date Hired</th>
                            <th>Date Created</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                        <tr>
                            <td>
                            <label>
                                <input type="checkbox" class="chBx" data-id="{{row[0]}}" />
                                <span></span>
                            </label>
                            </td>
                            <td>{{row[0]}}</td>
                            <td>{{row[1]}}</td>
                            <td>{{row[2]}}</td>
                            <td>{{row[3]}}</td>
                            <td>{{row[4]}}</td>
                            <td>{{row[5]}}</td>
                            <td>{{row[6]}}</td>
                            <td>{{row[7]}}</td>
                            <td>
                            <a class="waves-effect waves-light btn modal-trigger orange" href="#mupdate"><i class="material-icons white-text">edit</i></a>
                            
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Modals -->
                <!-- Modal Structure -->
                <div id="importModal" class="modal">
                  <div class="modal-content">
                    <p class="flow-text green-text"><i class="material-icons left" style="font-size: 2.4rem;">file_upload</i> Import Staff</p>
                    <form action="/admin/imSA" method="post" enctype="multipart/form-data">
                      <div class="file-field input-field">
                        <div class="btn">
                          <span><i class="material-icons">attach_file</i></span>
                          <input type="file" name="fileupload" id="fileToUpload">
                        </div>
                        <div class="file-path-wrapper">
                          <input class="file-path validate" type="text">
                        </div>
                      </div>
                      <a href="#!" class="modal-close btn waves-effect waves-light green white-text">Cancel</a>
                      <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                      </button>
                    </form>
                  </div>
                  <!-- <div class="modal-footer">

                  </div> -->
                </div>
                <div id="mupdate" class="modal">
                    <div class="modal-content">
                        <h4>Update User Accounts</h4>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                </div>
                <div id="mdelete" class="modal modal-fixed-header">
                  <div class="modal-header red-text">
                    
                  </div>
                  <div class="modal-content center">
                      <h1 class=""><i class="material-icons large red-text">cancel</i></h1>
                      <h4 class="">Are you sure?</h4>
                      <p class="">Do you want to delete these records? This cannot be undone!</p>
                      <a href="#!" class="grey btn-large modal-close">Cancel</a>
                      <a id="delBtn" class="btn-large red white-text">Delete</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
    
    </main>
    <footer class="page-footer green">
    {% include 'footer.html' %}
    </footer>
    <!-- MaterializeCSS -->
    <script src="{{ url_for('static',filename='assets/js/materialize-css.min.js')}}"></script>
    <!-- jQueryMaterilizeCSS -->
    <script src="{{ url_for('static',filename='assets/js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ url_for('static',filename='assets/js/jq-data-material.js')}}"></script>
    <!-- Axios -->
    <script src="{{ url_for('static',filename='assets/js/axios.min.js')}}"></script>
    <script>
      // SideNav
    let slout = document.querySelector("#slide-out");
    let men = document.querySelector("#menu");
    men.addEventListener('click',()=>{
      if(slout.M_Sidenav.isOpen == false){
        slout.M_Sidenav.open(); 
        document.getElementsByTagName('footer')[0].style.paddingLeft = "300px";
        document.getElementsByTagName('main')[0].style.paddingLeft = "300px";
        document.getElementsByTagName('header')[0].style.paddingLeft = "300px";
      }else if(slout.M_Sidenav.isOpen == true){
        slout.M_Sidenav.close();
        console.log(slout.M_Sidenav.isDragged)
        document.getElementsByTagName('footer')[0].style.paddingLeft = 0;
        document.getElementsByTagName('main')[0].style.paddingLeft = 0;
        document.getElementsByTagName('header')[0].style.paddingLeft = 0;
      }
    })
    // EndSideNav
    M.AutoInit();
    // CheckBox
    let mChBx = document.querySelector("#mChBx");
    let chBx = document.querySelectorAll(".chBx");
    mChBx.addEventListener('click',function(){
      if(mChBx.checked == true){
        for (let i = 0; i < chBx.length; i++) {
          chBx[i].checked = true;            
        }
      }else{
        for (let i = 0; i < chBx.length; i++) {
          chBx[i].checked = false;            
        }
      }
    });
    // 
    // Delete Button
    let dbtn = document.querySelector("#delBtn");
    let modal = document.querySelectorAll(".modal");
    dbtn.addEventListener("click",()=>{
      let delData = [];
      let check = (e)=>{
          for (let i = 0; i < chBx.length; i++) {
              if(chBx[i].checked == true){
                  delData.push(chBx[i].dataset.id);
              }                
          }
      }
      check();
      if(delData.length==0){
        M.toast({html:'Please check something!'});
        modal[1].M_Modal.close();
      }else{
        axios.post('/admin/delSA',{
          delData: delData
        }).then((response)=>{
          if(response.data.status=='ok'){
            location.reload(true)
          }
        }).catch((error)=>{
          console.log(error)
        })
      }
    });
    </script>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <script>
          M.toast({html:'{{message}}'})
        </script>
        {% endfor %}
      {% endif %}
    {% endwith %}
</body>
</html>